.btn {
  width: 100%;
  height: 100%;
}
.audio-player {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.audio-player .picture {
  width: 23%;
  float: left;
  height: 116px;
  display: flex;
  align-items: center;
  /* box-shadow: 0 1px 12.87px 0.13px #16151c73; */
  border-radius: 5px;
}
.audio-player .picture img {
  width: 100%;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0 1px 12.87px 0.13px #16151c73;
}
.audio-player .holder {
  padding: 10px 20px;
  display: table;
  float: right;
  width: 76%;
  background: white;
  border-radius: 5px;
  height: 94px;
  box-shadow: 0 1px 12.87px 0.13px #16151c73;
  /* justify-content: flex-end; */
}
.audio-player .info {
  width: 60%;
  display: table-cell;
  vertical-align: middle;
}
.audio-player .volume {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}
.audio-player .control {
  width: 20%;
  display: table-cell;
  vertical-align: middle;
}
.audio-player li {
  width: 100%;
  display: inline-block;
  margin: 5px;
}
.audio-player ul.btn {
  width: 100%;
}
.audio-player button {
  padding: 5px;
}
.audio-player ul.controlMuic {
  display: flex;
  justify-content: center;
}
.audio-player span.progress {
  width: 100%;
  cursor: pointer;
}
.audio-player ul.controlVolume {
  display: flex;
  align-items: center;
}
.audio-player .volume button.btn {
  float: right;
}
.audio-player .progress-bar {
  background-color: #16151c;
}

