 @media print {
    .CV,
    .showLeft,
    .showRight,
    .Tittle,
    .print {
      width: auto !important;
      float: none !important;
      overflow: hidden;
    }
  
    .LeftCol {
      width: 33% !important;
      height: 3508px !important;
      overflow: hidden;
    }
    .RightCol {
      width: 67% !important;
    }
    .head {
      display: block !important;
    }
    .print,
    .HidePrint {
      display: none !important;
    }
    
    a {
      text-decoration: none !important;
    }
    body>:last-child{
      display: none;
    }
  }