@media only screen and (max-width: 1000px) {
  .CV,
  .showLeft,
  .showRight,
  .Tittle,
  .print {
    width: auto !important;
    float: none !important;
  }
  .LeftCol {
    width: 33% !important;
  }
  .RightCol {
    width: 67% !important;
  }
  .head {
    display: block !important;
  }
  .audio-player {
    /* position: relative; */
    width: auto !important;
    margin: auto !important;
    display: inline-block;
    margin: 10px 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .CV,
  .LeftCol,
  .RightCol,
  .showLeft,
  .showRight,
  .audio-player [class*="time"]::after {
    width: 100% !important;
  }

  .audio-player {
    display: block !important;
  }
  .audio-player .picture {
    display: none !important;
    float: none !important;
    /* display: flex; */
    /* align-items: center; */
  }
  .audio-player .holder {
    float: none !important;
    /* width: 76%; */
    width: auto !important;
  }
}
