.box_container
{
	
}
.box_container .content
{
	padding:10px 0px;
	/*word-break: break-all;*/
}
.dangky
{
	width: 49%;
    float: left;
   
}
.dangky_frm
{

    padding: 10px 20px;
    position: relative;
    border: 1px solid #D6D6D6;
    margin-top: 10px;
	box-sizing:border-box;
}
div.dangnhap
{
	float:right;
	width:49%;
	position:relative;
}
div.tieude_dangky
{
	position: absolute;
    background: #F7F7F7;
    padding: 3px 15px;
    top: -16px;
    left: 20px;
    border: 1px solid #D6D6D6;
    font-size: 13px;
}
div.tieude_dangnhap
{	
    border-bottom: 1px solid #D6D6D6;
	line-height:35px;
	margin-bottom:10px;
	 font-size: 13px;
}
.popup_thongbao
{
	width: 300px;
    background: #fff;
    text-align: center;
    border: 1px solid #D0CFCF;
	 font-size: 13px;
}
.popup_thongbao .tieude_tb
{
	background: #E80019;
    padding: 7px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
	
}
.popup_thongbao .popup_kq
{
	padding: 10px;  
    font-weight: bold;
    color: #4C4C4C;
}
/*Form liên hệ*/
div.nd_lienhe {width:45%;float:left;}
div.frm_lienhe
{
    font-size: 13px;
    width: 50%;
	float:right;
}
div.frm_lienhe.lh{float: none;width: 100%;}
.thongbao
{
	font-size: 20px;
    color: red;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}
.thongbao p
{
	text-align:center;
}
div.frm_lienhe .item_lienhe
{
	margin:10px 0px;
}
div.frm_lienhe .item_lienhe_b
{
	text-align:center;
}
div.frm_lienhe .item_lienhe p
{
	float:left;
	min-width:120px;
}
div.dangky .item_lienhe p
{
	clear:both;
	float:none;
}
#reset_capcha img
{
	float:left;
	margin:5px 10px;
}
.baove
{
	float:left !important;
}
div.l_contact
{
	float:left;
	width:49%;
}
div.r_contact
{
	float:right;
	width:49%;
}
div.frm_lienhe .item_lienhe span
{
	color:red;
	margin-left:3px;
}
div.frm_lienhe .item_lienhe input[type='text'],div.frm_lienhe .item_lienhe textarea,div.frm_lienhe .item_lienhe input[type='password'],div.frm_lienhe .item_lienhe select
{

   
    width: 100%;
    padding:8px 20px 8px 25px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    background: #fff url(../images/asterisk.png) no-repeat 10px 14px;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #ccc;
	outline:none;

}

div.dangky_frm .item_lienhe input[type='text'],div.dangky_frm .item_lienhe textarea,div.dangky_frm .item_lienhe input[type='password'],div.dangky_frm .item_lienhe select
{
	width: 100%;
}

div.frm_lienhe .item_lienhe input[type='button'],div.frm_lienhe .item_lienhe input[type='reset'],div.frm_lienhe .item_lienhe input[type='submit']
{
	padding:7px 30px;
	background:#0035a0;
	border:none;
	color:#fff;
	border-radius:3px;
	margin:10px 0px;
	font-size:12px;
	cursor:pointer;
	box-sizing: border-box;
	    text-transform: uppercase;
}
.btn_dangnhap
{
	padding:7px 25px;
	background:#ee0303;
	border:none;
	display:block;
	color:#fff;
	border-radius:3px;
	margin:10px 0px;
	cursor:pointer;
	box-sizing: border-box;
	text-transform: uppercase;
text-decoration:none;
float:left;
margin-right:5px;
}
.date
{
	background:#F7F7F7 url(../images/i_date.png) 98% center no-repeat !important;
	padding-right: 8%;
	cursor:pointer;
}
#tendangnhap
{
	background:#F7F7F7 url(../images/i_user.png) 2% center no-repeat !important;
	padding-left: 8%;
}
#matkhau,#nhaplaimatkhau,#matkhaucu
{
	background:#F7F7F7 url(../images/i_pass.png) 2% center no-repeat !important;
	padding-left: 8%;
}
/*Form liên hệ*/

/*css tin tức*/
.box_news
{
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.box_news h3 a
{
	display: block;
    color: #333;
    font-family: Arial;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.box_news h3 a:hover
{
	color:#ff0000;
	transition:0.4s;
}
.date-post {
    margin: 7px auto;
}
.date-post i {
    padding-right: 5px;
}
.mota {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 10px;
}
.view_detail {
    color: #ff0000;
   
}
.box_news a
{
	text-decoration:none;
}
.img_news
{
	position:relative;
	overflow:hidden;
	float: left;
	margin-right: 15px;
    padding: 3px;
	border: 1px solid #ddd;
}
.img_news a img
{
	 width:100%;
	 height:auto;
	 transition:all 1s ease 0s;	
}
.img_news:hover a img
{
	transform:scale(1.1);	
}
.info_tt {position: absolute;right: 0;top: 0;text-align: right;}
.info_tt span{display: inline-block;vertical-align: top;margin-left: 40px;}
.othernews
{
	margin-top: 20px;
}
.othernews .cactinkhac
{
	font-family: Arial;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}
.othernews ul.phantrang
{
	list-style:none;
}
.othernews ul.phantrang li
{
	
	position: relative;
}
.othernews ul.phantrang li a
{
	color: #555;
    text-decoration: none;
    transition: 0.4s;
    font-size: 13px;
    padding: 5px 0px;
    border-bottom: 1px #ddd dashed;
    display: block;
    font-family: Arial;
}
.othernews ul.phantrang li a:hover
{
	color:red;
	padding-left:10px;
	transition:0.4s;
}

/*css tin tức*/

/*----------css bản đồ-------------*/
#map_canvas {    
    height: 500px;
    width: 99%;
	margin:0px auto;
	border:1px solid #BBB;
}
.map_description {
    color: #000000;
    overflow: auto;
    max-width: 300px;
}
.map_title {
   color:#ff0000;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
/*----------css bản đồ-------------*/

/*----------Phân trang-------------*/
.pagination {
	margin:0px auto 20px auto !important;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.pages {
}
.pages li.prev {
	margin-right: 15px;
}
.pages li.next {
	margin-left: 15px;
}
.pages li {
	display: inline-block;
	margin: 0px 2px;
}
.pages li a {
    display: inline-block;	
	padding:6px 12px;
	text-decoration: none;
	color: #333333;
	border:0;
	font-size: 12px;
	cursor:pointer;
	background: #f2f2f2;
	font-family: myfont;
}
.pages li a:hover {
    background:#4a4a4a;
    color: #fff;
}
.pages li .active,.pages li #active_z {
    background:#0035a0;
    color: #fff;
}
.pages li .active:hover {
    background:#0035a0;
    color: #fff;
}
/*----------Phân trang-------------*/

/*----------Loading-------------*/
#pre-loader{background: #F5F5F5;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;}
#pre-loader #wrap{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;display: block;text-align: center;width: 100px; height: 30px;}
#preloader_1{position:relative;}
#preloader_1 span{display:block;bottom:0px;width: 9px;height: 5px;background:#9b59b6;position:absolute;animation: preloader_1 1.5s  infinite ease-in-out;}
#preloader_1 span:nth-child(2){left:11px;animation-delay: .2s; }
#preloader_1 span:nth-child(3){left:22px;animation-delay: .4s;}
#preloader_1 span:nth-child(4){left:33px;animation-delay: .6s;}
#preloader_1 span:nth-child(5){left:44px;animation-delay: .8s;}
@keyframes preloader_1 {0% {height:5px;transform:translateY(0px);background:#9b59b6;}25% {height:30px;transform:translateY(15px);background:#3498db;}50% {height:5px;transform:translateY(0px);background:#9b59b6;}100% {height:5px;transform:translateY(0px);background:#9b59b6;}}
/*----------Loading-------------*/
@media screen and (max-width: 960px) {
	
}	
@media screen and (max-width: 603px) {
	.box_news {width: 98%;}
	div.nd_lienhe,div.frm_lienhe
	{
		width:100%;
		float:none;
	}
	div.box_news .img_news img{width: 120px;}
}
@media screen and (max-width: 360px) {
	div.box_news .img_news img{width: 100px;}
	div.tieude_detail{font-size:18px;}
}





