:root {
    --font1:'Roboto', sans-serif;
}
.Top {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.logo {
    width: 80px;
    cursor: pointer;
}
.fa-shopping-cart {
    font-size: 37px;
    margin-top:19px;
    cursor: pointer;
    color:black;
}
.fa-chevron-down {
    font-size: 18px;
    margin-left:5px;
    margin-top: 9px;
}
.menu {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}
.TT {
    font-family: segoe ui light;
    font-weight: bold;
    margin-top: 24px;
    margin-left: 28px;
    color:black;
    cursor: pointer;
    
}

.TT:hover{
    color:red;
}
.DN {
 position: relative;
 background-color: black;
 text-align: center;
 height: 47px;
 width: 170px;
 border-radius:4px;
 color: white;
 margin-left: 28px;
 margin-top: 16px;
}

.DN ul li {
    color:black;
}
.fontDN {
    margin-top: 10px;
    font-family: segoe ui light;
}
._1item {
    position: relative;
    font-family: segoe ui light;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 28px;
    color:black;
    display: flex;
}
._1item .layer1 {
    color: black;
}
._1item:hover .layer1 {
    color:red;
}
._1item .layer2 {
    position:absolute;
    visibility: hidden;
    opacity: 0;
    top:40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    width: 180px;
    border-radius: 5px;
}
._1item .layer2 a {
    margin-top:4px;
    width: 90px;
    color: black;
}
._1item .layer2 a:hover {
    color: red;
}

._1item:hover .layer2 {
    visibility: visible;
    opacity: 1;
}
.Mid {
    
    display: flex;
    margin-top:65px ;
    margin-left:330px;
}
 .Right {

     display: block;
     margin-left: 20px;
 }
 
 .Right .Type{ 
    font-family: segoe ui light;
 } 
 .Right .Banh{
  
     display: flex;
     width: 800px ;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .Right .Banh .LoaiBanh {
     
    display: block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 5px;
    margin-top:20px;

 }

 .Right .Banh .LoaiBanh .thongtinbanh {
     
     font-size: 14px;
     margin-left: 10px;
     font-family: segoe ui light;
 }

 .Right .Banh .LoaiBanh .them {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 33px;
    width: 192px;
    border-radius:4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-family: segoe ui light;
    font-weight: bold;
 }

 .Right .Banh .LoaiBanh img{ 
     
    width: 250px;
 }

.centerScreen {
    width: 90%; 
}   

