*{margin: 0%;padding: 0;}
body,html{
    width: 100%;
    height: 100%;
}
.container {
    width: 80%;
    height: 70%;
    display: flex;
    overflow: hidden;
    margin: auto;
    transform: translateY(20%);
    align-items: center;
}
button{
    margin: 20px;
    height: 50px;
    width: 100px;
  
}

textarea {
    border: 2px solid black;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
.input {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8%;
}