._2item {
    position: relative;
    font-family: segoe ui light;
    font-weight: bold;
    color:black;
    display: flex;
}
._2item .layer3 {
    color: black;
}
._2item:hover .layer3 {
    color:red;
}
._2item .layer3 {
    position:absolute;
    visibility: hidden;
    opacity: 0;
    top:70px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    width: 255px;
    height: 134px;
    border-radius: 5px;
}
._2item .layer3 a {
    margin-top:4px;
    width: 90px;
    color: black;
}
._2item .layer3 a:hover {
    color: red;
}

._2item:hover .layer3 {
    visibility: visible;
    opacity: 1;
}