
.home .right{
    width: 10%;
    height: 80%;
    background-color: var(--mautraiphai);
    position: relative;
}
.home .right .top{
    position: absolute;
    top:0;left:10%;
    background-color: var(--mauthanhphai);
    display: flex;
    justify-content: center;
}

.home .right .top .topul ul{
    background-color: var(--mauulphai);
    text-align: center;
    border-radius: var(--radius);
}
.home .right .top .topul ul li{
    width: 100px;
    height: 40px;
    padding: var(--khoangcachli);
    font-size: var(--kichcofontli);
    color: var(--mauufontmenutrai);
}

.home .right .bottom{ 
    position: absolute;
    bottom: 0; left:10%;
    background-color: var(--mauthanhphai);
    display: flex;
    justify-content: center;
}
.home .right .bottom  ul{
    background-color: var(--mauulphai);
    border-radius: var(--radius);
    text-align: center;

}
.home .right .bottom ul li{
    width: 100px;
    padding: var(--khoangcachli);
    font-size: var(--kichcofontli);
    color: var(--mauufontmenutrai);
}