.navside .logo a::before {
    border-left: 4px solid #2196f3;
    border-top: 4px solid #2196f3;
}

.navside .logo a::after {
    border-right: 4px solid #2196f3;
    border-bottom: 4px solid #2196f3;
}

.nav-menu li:hover a,
.skin-body-box .toggle-setting .fa,
.contact-info .contact-info-item .contact-icon,
.project-item-inner .project-info h4,
.project-filter button.active,
.nav-menu li a.active,
.about-intro h3 span {
    color: #2196f3;
}

.home-social a,
.timelife-item::before,
.circle-dot,
.btn,
.section-intro h2::before,
.section-intro h2::after,
.nav-toggler span,
.nav-toggler span::before,
.nav-toggler span::after,
.skills .skill-item .progress .progress-bar {
    background-color: #2196f3;
}

.project-filter button.active {
    border-color: #2196f3;
}