:root {
    --font1:'Roboto', sans-serif;
}

*{
    font-family: var(--font1);
}
.Thongtin {
    margin-left: ;
    margin-left: 14%;
}

.Thongtin h1 {
    font-family: var(--font1);

}

.Thongtin .Chitiet{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    height: 320px;
    align-items: center;
    padding: 20px 30px;
}
.Thongtin .Chitiet .TTDiachi{
    border-bottom:1px solid silver;
}
.Thongtin .Chitiet .TTDiachi h2{}
.Thongtin .Chitiet .TTDiachi .Diachi{}

.Thongtin .Time{
    display: flex;

}
.Thongtin .Time .Pickup{
   width: 50%;
}
.Thongtin .Time .Giaohang{


}