
.home .mid{
    width: 80%;
    height: 80%;

    display: flex;
    }
.home .mid .noidungtrai{
    width: 30%;
    height: 100%;
    background-color: var(--maunoidungtrai);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.home .mid .noidungtrai .anh{
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
 
}
.home .mid .noidungtrai .anh img{
        width: 50%;
        margin: auto;
        border-radius: 50%;
}

.home .mid .noidungtrai .fullname{
    height: 10%;
    text-align: center;
    align-items: center;
    font-size: var(--sizefullname);
    font-weight: var(--weightfullname);
    color: var(--colorfullname);
}
.home .mid .noidungtrai .job{
    height: 10%;
    text-align: center;
    align-items: center;
    font-size: var(--kichcofontli);
    color: var(--mauufontmenutrai);
 
}
.home .mid .noidungtrai .linktt{
    height: 5%;
}

.home .mid .noidungtrai ul {
    display: flex;
   justify-content: center;
}
.home .mid .noidungtrai ul::before {
content: '';

width: 5%;
}
.home .mid .noidungtrai ul::after {
    content: '';
    width: 5%;
   
    }
.home .mid .noidungtrai ul li{
    width: 10%;
    display: flex;
   
}
.home .mid .noidungtrai ul li a{
   
    color: var(--maulink);
    color: var(--colorfullname);
    font-size: var(--kichcofontlink);
   text-align: center;

}
.home .mid .noidungtrai ul li a:hover{
    color: var(--maubg);
}
.home .mid .noidungtrai  .button{
    height: 19%;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.home .mid .noidungtrai .button a{
    font-size: var(--kichcofontli);
    background-color: var(--maunoidungtrai);
    height: 40%; width: 70%;
    color: var(--colorfullname);
    border: 0.2vw solid white;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: var(--radius);
}
.home .mid .noidungtrai .button a:hover{
    background-color: var(--colorfullname);
    color: var(--maubg);
}

.home .mid .noidungtrai .source{
    height: 11%;
    text-align: center;
    align-items: center;
    color: var(--mauufontmenutrai);
    font-size:var(--fontnoidung);
}
/* het noi dung trai */

.home .mid .noidungphai{
    width: 70%;
    background-color: var(--maunoidungphai);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.home .mid .noidungphai .aboutme{
    width: 100%;
    height: 60%;
}
.home .mid .noidungphai .aboutme .abouttop{
    height: 20%;
    font-size: var(--sizeaboutme);
    box-sizing: border-box;
    position: relative;
}
.home .mid .noidungphai .aboutme .abouttop::before{
position: absolute;
content: 'Aubout Me';
bottom: 0; left: 10%;
color:var(--colorfullname);
font-weight: var(--weightfullname);
}
.home .mid .noidungphai .aboutme .aboutbottom{
    display: flex;
    height: 80%;
    position: relative;
}
.home .mid .noidungphai .aboutme .aboutbottom .aboutleft{
    position: absolute;
    top: 20%;left: 10%;
    width: 50%;
    color:var(--mauufontmenutrai);
    font-size: var(--fontnoidung);
}
.home .mid .noidungphai .aboutme .aboutbottom .aboutright{
    position: absolute;
    top: 20%; left:65% ;
    width: 30%;
    color:var(--mauufontmenutrai);
 

}
.home .mid .noidungphai .aboutme .aboutbottom .aboutright ul{
    
}
.home .mid .noidungphai .aboutme .aboutbottom .aboutright ul li{
    display: flex;
    padding: 0px 0px 3% 0px;
}
.home .mid .noidungphai .aboutme .aboutbottom .aboutright ul li .litrai{
   font-weight: var(--weightfullname);
   color: var(--maubg);
   padding-right: 5%;
   font-size: var(--ttcam);
   width: 20%;

}
.home .mid .noidungphai .aboutme .aboutbottom .aboutright ul li .liphai{
    font-size: var(--ttxam);
    width: 75%;
}
/* het auboutme */
.home .mid .noidungphai .whatido{
    height: 40%;
 
}
.home .mid .noidungphai .whatido .whattop{
    font-size: var(--sizewhatido);
    height: 20%;
    width: 100%;
    display: flex;

}
.home .mid .noidungphai .whatido .whattop:before{
    margin-left: 10%;
    content: 'Design Skills';
    width: 50%;
    color:var(--colorfullname);
    font-weight: var(--weightfullname);
   
    height: 100%;
    display: inline-block;
    
}
.home .mid .noidungphai .whatido .whattop::after{
        margin-left: 3%;
        width: 50%;
       
        content: 'Code Skills';
        color:var(--colorfullname);
        font-weight: var(--weightfullname);
        height: 100%;
        display: inline-block;
        }
.home .mid .noidungphai .whatido .whatbottom{
    height: 80%;
    display: flex;
}
.home .mid .noidungphai .whatido .whatbottom::after{
content:'';
width: 6%;

}
.home .mid .noidungphai .whatido .whatbottom::before{
    content:'';

    width: 1%;
    }
.home .mid .noidungphai .whatido .whatbottom .whatleft{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
} 

.home .mid .noidungphai .whatido .whatbottom .whatleft::after{
    content: '';
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill{
    color: var(--colorfullname);
    width: 80%;
    height: 100%;
   
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .dadskill{
    height: 33.33%;

 
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .ttskill{
    display: flex;
    height:13% ;

}

.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span1{
   width: 50%;
   font-size: var(--span1);
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span2{
    width: 50%;
    text-align: right;
    font-size: var(--span2);
}

.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span3{
    position: relative;
    top:30%;
    background: var(--maunoidungphai);
    border: 0.2vw solid var(--maubg);
    border-radius: var(--radius);
    height: 15%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span3::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 50%;
    border-radius: var(--radius);
    background: var(--maubg);
    height:40%;
}

.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span4{
    position: relative;
    top:30%;
    background: var(--maunoidungphai);
    border: 0.2vw solid var(--maubg);
    border-radius: var(--radius);
    height: 15%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span4::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 50%;
    border-radius: var(--radius);
    background: var(--maubg);
    height:40%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span5{
    position: relative;
    top:30%;
    background: var(--maunoidungphai);
    border: 0.2vw solid var(--maubg);
    border-radius: var(--radius);
    height: 15%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span5::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 50%;
    border-radius: var(--radius);
    background: var(--maubg);
    height:40%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span6{
    position: relative;
    top:30%;
    background: var(--maunoidungphai);
    border: 0.2vw solid var(--maubg);
    border-radius: var(--radius);
    height: 15%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span6::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 95%;
    border-radius: var(--radius);
    background: var(--maubg);
    height:40%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span7{
    position: relative;
    top:30%;
    background: var(--maunoidungphai);
    border: 0.2vw solid var(--maubg);
    border-radius: var(--radius);
    height: 15%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span7::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 80%;
    border-radius: var(--radius);
    background: var(--maubg);
    height:40%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span8{
    position: relative;
    top:30%;
    background: var(--maunoidungphai);
    border: 0.2vw solid var(--maubg);
    border-radius: var(--radius);
    height: 15%;
}
.home .mid .noidungphai .whatido .whatbottom .whatleft .skill .span8::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 85%;
    border-radius: var(--radius);
    background: var(--maubg);
    height:40%;
}